body { background: #daf52f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 29px; display: flex; }
.block-product-0 { color: #c17478; font-size: 14px; margin-bottom: 5px; }
.block-cluster-1 { color: #b1e758; font-size: 15px; margin-bottom: 5px; }
.block-user-2 { color: #8c097f; font-size: 14px; margin-bottom: 5px; }
.block-sms-3 { color: #c17ad5; font-size: 19px; margin-bottom: 5px; }
.block-session-4 { color: #85aeab; font-size: 14px; margin-bottom: 5px; }
.block-uploader-5 { color: #914448; font-size: 13px; margin-bottom: 5px; }
.block-cache-6 { color: #433a6b; font-size: 17px; margin-bottom: 5px; }